<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kotor_Randomizer_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <kotor_Randomizer_2.Properties.Settings>
            <setting name="DoRandomization_Module" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoRandomization_Sound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MixNpcAndPartySounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeAreaMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeAmbientNoise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCutsceneNoise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeNpcSounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePartySounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBattleMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModulesInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModulePresetSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastPresetComboIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Kotor1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DoRandomization_Model" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoRandomization_Item" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoRandomization_Texture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoRandomization_TwoDA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoRandomization_Text" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoRandomization_Other" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeArmor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeStims" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBelts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeVarious" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeHides" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeArmbands" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeDroid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeGloves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeImplants" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePaz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBlasters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCreature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeLightsabers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeGrenades" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMelee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeDoorModels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCharModels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePlaceModels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeCubeMaps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeCreatures" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeEffects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeItems" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizePlanetary" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeNPC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizePlayHeads" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizePlayBodies" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizePlaceables" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeParty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeStunt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeVehicles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeWeapons" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextureRandomizeOther" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KotorIsRandomized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstnamesM" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="FirstnamesF" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="Lastnames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="PolymorphMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeNameGen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TexturePack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePazaakDecks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresetPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="ModuleExtrasValue" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="TextSettingsValue" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="RandomizePartyMembers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerifyReachability" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoalIsMalak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoalIsPazaak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoalIsStarMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowGlitchClip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowGlitchDlz" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowGlitchFlu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowGlitchGpw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreOnceEdges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveDmcaMusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeSwoopBoosters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeSwoopObstacles" serializeAs="String">
                <value>False</value>
            </setting>
        </kotor_Randomizer_2.Properties.Settings>
    </userSettings>
</configuration>