<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kotor_Randomizer_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <kotor_Randomizer_2.Properties.Settings>
            <setting name="module_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sound_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MixNpcAndPartySounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeAreaMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeAmbientNoise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCutsceneNoise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeNpcSounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePartySounds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBattleMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModulesInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModulePresetSelected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastPresetComboIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Kotor1Path" serializeAs="String">
                <value />
            </setting>
            <setting name="MilestoneDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeMG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="model_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="item_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SeedSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="texture_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twoda_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="text_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="other_rando_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomizeArmor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeStims" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBelts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeVarious" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeHides" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeArmbands" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeDroid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeGloves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeImplants" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMask" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePaz" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMines" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeUpgrade" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeBlasters" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCreature" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeLightsabers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeGrenades" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeMelee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeDoorModels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizeCharModels" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomizePlaceModels" serializeAs="String">
                <value>0</value>
            </setting>
        </kotor_Randomizer_2.Properties.Settings>
    </userSettings>
</configuration>